<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <style>
        .leads{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 6px;
            padding-left: 6px;
            margin-top: 10px;
            width: 100%;
            background-color: #f6f6f6;
        }
    </style>
{% tailwind_css %} 
</head>
<body>
    {% block content %} {% endblock content %}
    
    {% if settings.DEBUG %}
    {% include 'django_browser_reload/script.html' %}
  {% endif %}
</body>
</html>